<p><img alt="RStudio layout" src="../fig/01-rstudio.png" /></p>
<hr/>
<p><img alt="RStudio layout with .R file open" src="../fig/01-rstudio-script.png" /></p>
<hr/>
<p><img alt="" src="../fig/bad_layout.png" /></p>
<hr/>
<p><img alt="Inequality testing" src="../fig/06-rmd-inequality.1.png" /></p>
<hr/>
<p><img alt="Inequality testing: results of recycling" src="../fig/06-rmd-inequality.2.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-vs-gdpPercap-scatter" src="../fig/rmd-08-lifeExp-vs-gdpPercap-scatter-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-2" src="../fig/rmd-08-unnamed-chunk-2-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-vs-gdpPercap-scatter2" src="../fig/rmd-08-lifeExp-vs-gdpPercap-scatter2-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch1-sol" src="../fig/rmd-08-ch1-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch2-sol" src="../fig/rmd-08-ch2-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-line" src="../fig/rmd-08-lifeExp-line-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-line-point" src="../fig/rmd-08-lifeExp-line-point-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-layer-example-1" src="../fig/rmd-08-lifeExp-layer-example-1-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch3-sol" src="../fig/rmd-08-ch3-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-vs-gdpPercap-scatter3" src="../fig/rmd-08-lifeExp-vs-gdpPercap-scatter3-1.png" /></p>
<hr/>
<p><img alt="plot of chunk axis-scale" src="../fig/rmd-08-axis-scale-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lm-fit" src="../fig/rmd-08-lm-fit-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lm-fit2" src="../fig/rmd-08-lm-fit2-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch4a-sol" src="../fig/rmd-08-ch4a-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch4b-sol" src="../fig/rmd-08-ch4b-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk facet" src="../fig/rmd-08-facet-1.png" /></p>
<hr/>
<p><img alt="plot of chunk theme" src="../fig/rmd-08-theme-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch5-sol" src="../fig/rmd-08-ch5-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch2-sol" src="../fig/rmd-09-ch2-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch2-sol" src="../fig/rmd-09-ch2-sol-2.png" /></p>
<hr/>
<p><img alt="Split apply combine" src="../fig/12-plyr-fig1.png" /></p>
<hr/>
<p><img alt="Full apply suite" src="../fig/12-plyr-fig2.png" /></p>
<hr/>
<p><img alt="" src="../fig/13-dplyr-fig1.png" /></p>
<hr/>
<p><img alt="" src="../fig/13-dplyr-fig2.png" /></p>
<hr/>
<p><img alt="" src="../fig/13-dplyr-fig3.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-21" src="../fig/rmd-13-unnamed-chunk-21-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-22" src="../fig/rmd-13-unnamed-chunk-22-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-23" src="../fig/rmd-13-unnamed-chunk-23-1.png" /></p>
<hr/>
<p><img alt="" src="../fig/14-tidyr-fig1.png" /></p>
<hr/>
<p><img alt="" src="../fig/14-tidyr-fig2.png" /></p>
<hr/>
<p><img alt="" src="../fig/14-tidyr-fig3.png" /></p>
<hr/>
<p><img alt="" src="../fig/14-tidyr-fig4.png" /></p>
<hr/>
<p><img alt="" src="../fig/New_R_Markdown.png" /></p>
<hr/>
<p><img alt="plot of chunk rmd_to_html_fig" src="../fig/rmd-15-rmd_to_html_fig-1.png" /></p>
